<div class="low">
  <div class="col-sm-8">
    <p id="notice"><%= notice %></p>
    <h1>履歴</h1>

    <table class="table table-hover table-inverse table-bordered">
      <thead class="thead-light">
        <tr>
          <th>交換日</th>
          <th>パーツ名</th>
          <th>履歴編集</th>
          <th>削除</th>
        </tr>
      </thead>

      <tbody>
        <% @logs.each do |log| %>
        <tr>
          <% if log.exchange %>
          <td><%= link_to log.exchange, car_part_log_path(@car, @part, log) %></td>
          <% else %>
          <td><%= link_to "履歴詳細", car_log_path(@car, @part, log) %></td>
          <% end %>

          <td><%= log.part.name %></td>
          <td><%= link_to '履歴編集', edit_car_part_log_path(@car, @part, log) %></td>
          <td><%= link_to '削除', car_part_log_path(@car, @part, log), method: :delete, data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <button type="button" class="btn btn-primary btn-md">
      <%= link_to '戻る', :back, :style=>"color:white;" %></button>
  </div>
</div>