    <p id="notice"><%= notice %></p>

    <p>交換日</p>
    <%= @log.exchange %>
    <table>
        <thead>
            <tr>
                <th>交換部品</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @log.part.name %></td>
            </tr>
        </tbody>
    </table>

    <%= link_to 'Edit', edit_car_part_log_path(@car, @part, @log) %> |
    <%= link_to '履歴一覧へ', car_logs_path(@car.id) %>