<div class="low">
    <div class="center">
        <div class="col-sm-6">
            <h1>パーツ内容編集</h1>

            <%= form_for [@car, @part] do |f| %>
            <%= f.label "部品名" %>
            <%= f.text_field :name %><br>
            <%= f.label "商品説明" %>
            <%= f.text_area :introduction %><br>
            <%= f.submit "履歴作成" %>
            <% end %>

            <%= link_to '車詳細', car_path(@car) %> |
            <%= link_to '戻る', car_path(@car) %>
        </div>
    </div>
</div>