<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @part.introduction %>
</p>
<%= link_to 'Edit', edit_car_part_path(:car_id => @car.id, :id => @part.id) %> |
<%= link_to 'Back', car_path(@car.id) %>

<table>
  <thead>
    <tr>
      <th>交換日</th>
    </tr>
  </thead>
  <tbody>
  <% @logs.each do |log| %>
  <tr>
  <!--log.created_at.strftime("%Y年%-m月%-d日")-->
  <td><%= log.exchange %></td>
  <td><%= log.part.name %></td>
  <td><%= link_to 'Destroy', car_log_path(@car, log), method: :delete %></td>
  <% end %>
  </tbody>
</table>

<%= render partial: 'parts/logs/new', locals: { car: @car, part: @part, log:@log} %>