<div class="top4">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h2>ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "記憶しますか?" %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: 'form-control' %>
      </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>