<h1>新規車両登録</h1>

<%= form_for car,url: admin_user_cars_path(user),method: :post do |f| %>
<%# <%= form_with model: car do |f|%>
<div>
    <%= "車両名" %>
    <%= f.text_field :name, class: 'form-control',placeholder: "車両名" %>
</div>

<div>
    <%= "走行距離" %>
    <%= f.text_field :mileage, class: 'form-control',placeholder: "走行距離" %><p>km</p>
</div>

<div>
    <%= "点検日" %>
    <%= f.date_field :inspection, class: 'form-control' %>
</div>
<div>
    <%= "車検日" %>
    <%= f.date_field :car_inspection, class: 'form-control' %>
</div>

<div>
    <%= "車両登録日" %>
    <%= f.date_field :register, class: 'form-control' %>
</div>

<div>
    <%= f.submit "車両登録", class: 'form-control' %>
</div>
<% end %>