<div class="row">
  <div class="col-sm-5">
    <h2>マイページ</h2>
    <table class="table table-hover table-inverse table-bordered">
      <thead class="thead-light">
        <tr>
          <th>氏名</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= current_user.name %></td>
          <td><%= current_user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-5">
    <%= render partial: 'users/edit', locals: { user: @user} %>
  </div>
  <br><br>
  <div class="col-sm-5">
    <table class="table table-hover table-inverse table-bordered">
      <thead>
        <tr>
          <th>車一覧</th>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
        <tr>
          <td><%= link_to car.name, car_path(car.id) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <%= paginate @cars %>
  </div>
</div>