<h1>部品編集</h1>

<%= form_for [@car, @part] do |f| %>

<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :introduction %>
    <%= f.text_field :introduction %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Show', admin_user_car_part_path(@car, @part) %> |
<%= link_to 'Back', admin_user_car_part_path(@car, @part) %>
