<div class="row">
  <div class="col-sm-6">
    <h2>
      <strong>パーツ名</strong>
      <%= @part.name %>
    </h2>

    <p>
      <strong>パーツ説明</strong>
      <%= @part.introduction %>
    </p>

    <table class="table table-hover table-inverse table-bordered">
      <thead class="thead-light">
        <tr>
          <th>交換日</th>
          <th>交換時走行距離</th>
          <th>パーツ名</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <% @logs.each do |log| %>
        <tr>
          <!--log.created_at.strftime("%Y年%-m月%-d日")-->
          <td><%= link_to log.exchange, admin_user_car_log_path(@user, @car, log) %></td>
          <td><%= number_to_currency(log.distance) %></td>
          <td><%= log.part.name %></td>
          <td><%= link_to '履歴削除', admin_user_car_log_path(@user,@car, log), method: :delete %></td>
          <% end %>
      </tbody>
    </table>
    <%= paginate @logs %>
  </div>
  <div class="col-sm-6">
  </div>
  <div class="col-sm-6">
    <%= render partial: 'admin/logs/new', locals: {user: @user, car: @car, part: @part, log:@log} %>
    <br>
    <button type="button" class="btn btn-primary btn-md">
      <%= link_to "車詳細", admin_user_car_path(@user, @car.id), :style=>"color:white;" %></button>
    <button type="button" class="btn btn-primary btn-md">
      <%= link_to "戻る", :back, :style=>"color:white;" %></button>
  </div>
  <div class="col-sm-6">
    <%= render partial: 'admin/parts/edit', locals: { car: @car, part: @part} %>
  </div>
</div>