<div class="container">
<h1>新規車両登録</h1>

<%= form_for(@car) do |f| %>
	<div>
		<%= "車両名" %>
		<%= f.text_field :name %>
	</div>


	<div class="actions row">
		<%= f.submit "車両登録" %>
	</div>
  <% end %>

<%= link_to 'Back', cars_path %>
</div>