  <div class="row">
<p id="notice"><%= notice %></p>
<div class="col-xs-6">
<h3>
  <strong>会員名</strong>
  <%= @car.user.name %><br>
  <strong>車両情報</strong>
  <%= @car.name %>
</h3>
</div>

<div class="col-xs-6">
<table>
  <thead>
    <tr>
      <th>パーツ名</th>
    </tr>
  </thead>
  <tbody>
      <% @parts.each do |part| %>
      <tr>
      <td>
      <%= link_to part.name, car_part_path(:car_id => @car.id, :id => part.id) %>
      </td>
      <td><%= link_to "削除", car_part_path(:car_id => @car.id, :id => part.id), method: :delete%></td>
      <!--:car_id => @car.id, :id => part.idルートの番号（順番指定）-->
      </tr>
      <% end %>
  </tbody>
</table>
</div>
<br>

<div class="col-xs-6">
<%= render partial: 'parts/new', locals: { car: @car, part: @part} %>
<br>
<%= link_to '履歴作成', new_car_log_path(@car) %>
<%= link_to "履歴確認", car_logs_path(@car) %>
<br>
<%= link_to '車両情報編集', edit_car_path(@car) %> |
<%= link_to '戻る', cars_path %>
</div>
</div>

<table>
  <thead>
    <tr>
      <th>パーツ名</th>
    </tr>
  </thead>
  <tbody>
      <% @parts.each do |part| %>
      <tr>
      <td>
      <%= part.name %>
      </td>
      <!--:car_id => @car.id, :id => part.idルートの番号（順番指定）-->
      </tr>
      <% end %>
  </tbody>
</table>