<div class="row">
  <div class="col-sm-6">
    <strong>
      <h1>車両情報</h1>
    </strong>
  </div>
  <div class="col-sm-12">



    <table class="table table-hover table-inverse table-bordered">

      <thead class="thead-light">
        <th>
          <strong>会員名</strong>
        </th>
        <th>
          <strong>車両名</strong>
        </th>
        <th>
          <strong>走行距離</strong> <%= number_to_currency(@car.mileage) %>
        </th>
        <th>
          <strong>車両経年数</strong>
        </th>
        <th>
          <strong>点検日</strong>
        </th>
        <th>
          <strong>車検日</strong>
        </th>
        <th>
          <strong>車両登録日</strong>
        </th>
        <th></th>
      </thead>

      <tbody>
        <td><%= @car.user.name %></td>
        <td><%= @car.name %></td>
        <td>
          <%= form_for(@car) do |f| %>
          <%= f.text_field :mileage, :size=> "6" %>km
          <%= f.submit "走行距離変更" %>
          <% end %>
        </td>
        <td><%= @age %>年</td>
        <td><%= @car.inspection %></td>
        <td><%= @car.car_inspection %></td>
        <td><%= @car.register %></td>
        <td><button type="button" class="btn btn-primary btn-sm">
            <%= link_to '車両情報編集', edit_car_path(@car), :style=>"color:white;" %></td>
      </tbody>
    </table>
  </div>

  <div class="col-sm-12">
    <div class="text-center">
      <h2><strong><i class="fas fa-wrench"></i>定期点検</strong></h2>

      <% if @v1 > 0 %>
      <p>1年点検まで残り<%= @v1 %>日</p>
      <% else %>
      1年点検まで残り0日
      <p class="red">点検時期です</p>
      <% end %>

      <% if @v2 > 0 %>
      <p>車検まで残り<%= @v2 %>日</p>
      <% else %>
      車検まで残り0日
      <p class="red">点検時期です</p>
      <% end %>
    </div>
  </div>
  <div class="col-sm-10">
    <table class="table table-hover table-inverse table-bordered ">
      <thead class="thead-light">
        <tr>
          <th>パーツ名</th>
          <th>最終交換日</th>
          <th>交換推奨日</th>
          <th>残り日数</th>
          <th>残りkm</th>
          <th>交換時距離</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @parts.each do |part| %>
        <tr>
          <td>
            <%= link_to part.name, car_part_path(:car_id => @car.id, :id => part.id) %>
          </td>
          <!--:car_id => @car.id, :id => part.idルートの番号（順番指定）-->

          <% log = part.logs.last %>
          <!-- 両方あったら、表示なかったら非表示 -->
          <td>
            <%if log && log.exchange%>
            <%= log.exchange %>
            <% end %>
          </td>

          <td>
            <%if log && log.next%>
            <%= log.next %>
            <% end %>
          </td>

          <td>
            <%if log && log.next%>
            <% c = log.next %>
            <% now = Date.current %>
            <% y  = (c - now).to_i %>
            <% if y > 0 %>
            残り<%= y %>日
            <% else %>
            <p class="red">交換時期です</p>
            <% end %>
            <% end %>
          </td>

          <td>
            <%if log && log.distance && log.after%>
            <% log.distance %>
            <% m = log.after %>
            <% z = log.distance %>
            <% q = @car.mileage %>
            <% w = (q - z) %>
            <% g = (m - w) %>
            <% if g > 0 %>
            残り<%= number_to_currency(g) %>
            <% else %>
            <p class="red">交換時期です</p>
            <% end %>
            <% end %>
          </td>

          <td>
            <%if log && log.distance %>
            <%= number_to_currency(log.distance) %>
            <% end %>
          </td>

          <td>
            <%= link_to "削除", car_part_path(:car_id => @car.id, :id => part.id), method: :delete, data: { confirm: "本当に削除しますか?" } %>
          </td>

        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @parts %>
  </div>

  <div class="col-sm-2">
    <%= render partial: 'parts/new', locals: { car: @car, part: @part} %>
    <br>
    <button type="button" class="btn btn-primary btn-md">
      <%= link_to "履歴確認", car_logs_path(@car), :style=>"color:white;" %></button>

    <button type="button" class="btn btn-primary btn-md">
      <%= link_to '車一覧', cars_path, :style=>"color:white;" %></button>

    <br><br>

    <button type="button" class="btn btn-primary btn-md">
      <%= link_to '戻る', :back, :style=>"color:white;" %></button>
  </div>
</div>