<p id="notice"><%= notice %></p>

<h1>会員一覧</h1>
<%= form_with url: search_admin_users_path, method: :get, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit :search %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tbody>
    <% @users.each do |user| %>
     <td><%= user.id %></td>
        <td><%= link_to user.name, admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "全一覧ページ",admin_users_path %>