 <div class="row">
   <div class="col-sm-4">
     <h2>会員情報</h2>

     <table class="table table-hover table-inverse table-bordered">
       <thead class="thead-light">
         <tr>
           <th> 会員名</th>
           <th>メールアドレス</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><%= @user.name %></td>
           <td><%= @user.email %></td>
         </tr>
       </tbody>
     </table>

     <table class="table table-hover table-inverse table-bordered">
       <thead class="thead-light">
         <tr>
           <th>車名</th>
           <th></th>
           <th></th>
         </tr>
       </thead>
       <tbody>
         <% @cars.each do |car| %>
         <tr>
           <td><%= link_to car.name, admin_user_car_path(:user_id => @user.id, :id => car.id) %></td>
           <td><%= link_to '編集', edit_admin_user_car_path(:user_id => @user.id, :id => car.id)%></td>
           <td>
             <%= link_to '削除', admin_user_car_path(:user_id => @user.id, :id => car.id), method: :delete, data: { confirm: '削除しますか?' } %>
           </td>
           <% end %>
         </tr>
       </tbody>
     </table>

     <%= paginate @cars %>

   </div>
   <div class="col-sm-4">
     <%= render partial: 'admin/cars/new', locals: {user: @user, car: @car} %>
   </div>
   <div class="col-sm-4">
     <%= render partial: 'admin/users/edit', locals: { user: @user} %>
   </div>
 </div>