<p id="notice"><%= notice %></p>

<h1>履歴</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
    <tr>
      <% if log.exchange %>
      <td><%= link_to log.exchange, car_part_log_path(@car, @part, log) %></td>
      <% else %>
      <td><%= link_to "履歴詳細", car_log_path(@car, @part, log) %></td>
      <% end %>

      <td><%= log.part.name %></td>
      <td><%= link_to 'Edit', edit_car_part_log_path(@car, @part, log) %></td>
      <td><%= link_to 'Destroy', car_part_log_path(@car, @part, log), method: :delete %></td>
      <td><%=  %></td>
    </tr>
    <% end %>
  </tbody>
</table>