<h1>New Log</h1>



<table>
    <thead>
    <tr>
        <th>パーツ名</th>
    </tr>
    </thead>

    <tbody>
    <%= form_for [@car, @log] do |f| %>
    <% @part.each do |part|%>
    <tr>
    <td>
    <%= part.name %>
    <%= f.check_box :part %>
    </td></tr>
    <!--f.hidden_field :part_id -->
    <% end %>
    <%= f.submit "履歴作成"%>
    <% end %>
    </tbody>
<table>

<%= link_to 'Back', root_path %>

<% @part.each do |part|%>
<%= part.name %>
<% end %>