<nav>
    <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
        <li><%= link_to "会員一覧", admin_users_path, :style=>"color:blue;" %></li>
        <button type="button"
            class="btn btn-default navbar-btn"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></button>
        <p class="navbar-text" style="color:red;">管理ログイン中</p>
        <% elsif user_signed_in? %>
        <button type="button"
            class="btn btn-outline-primary"><%= link_to "Home", root_path, :style=>"color:white;" %></button>
        <button type="button"
            class="btn btn-outline-primary"><%= link_to "about", homes_about_path, :style=>"color:white;" %></button>
        <button type="button"
            class="btn btn-outline-primary"><%= link_to "マイページ", user_path(current_user), :style=>"color:white;" %></button>
        <button type="button"
            class="btn btn-default navbar-btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
        <button type="button" class="btn btn-outline-primary">ログイン中</button>
        <button type="button"
            class="btn btn-outline-primary"><%= link_to "車両一覧",cars_path, :style=>"color:white;" %></button>
        <% else %>
        <button type="button"
            class="btn btn-outline-primary"><%= link_to "Home", root_path, :style=>"color:white;" %></button>
        <button type="button"
            class="btn btn-outline-primary"><%= link_to "About", homes_about_path, :style=>"color:white;" %></button>
        <button type="button"
            class="btn btn-outline-primary"><%= link_to "新規登録", new_user_registration_path, :style=>"color:white;" %>
            <button type="button"
                class="btn btn-default navbar-btn"><%= link_to "ログイン", new_user_session_path %></button>
            <button type="button" class="btn btn-outline-primary">未ログイン</button>
        </button>
        <% end %>
    </ul>
</nav>