<!DOCTYPE html>
<html>
  <head>
    <title>Wartung</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
      <div>
        <nav class="nav navbar-nav navbar-left" style="color: #fff">
         <h3><%= link_to "wagen", root_path, :style=>"color:white;" %></h3>
        </nav>
         <nav>
          <ul class="nav navbar-nav navbar-right">

              <% if admin_signed_in? %>
                  <li><%= link_to "商品一覧", admin_products_path, :style=>"color:white;" %></li>
                  <li><%= link_to "会員一覧", admin_customers_path, :style=>"color:white;" %></li>
                  <li><%= link_to "注文履歴一覧", admin_orders_path(button: 1), :style=>"color:white;" %></li>
                  <li><%= link_to "ジャンル管理", admin_genres_path, :style=>"color:white;" %></li>
                  <button type="button" class="btn btn-default navbar-btn"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></button>
                  <!--  -->
                  <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                  <input type="text" class="form-control" placeholder="検索キーワード">
                  </div>
                  <button type="submit" class="btn btn-default">検索</button>
                  </form>
                  <p class="navbar-text" style="color: #fff">管理ログイン中</p>
              <% elsif user_signed_in? %>
                  <li><%= link_to "about", root_path, :style=>"color:white;" %></li>
                  <li><%= link_to "マイページ", root_path(current_user), :style=>"color:white;" %></li>
                  <button type="button" class="btn btn-default navbar-btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
                  <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                  <input type="text" class="form-control" placeholder="検索キーワード">
                  </div>
                  <button type="submit" class="btn btn-default">検索</button>
                  </form>
                  <p class="navbar-text" style="color: #fff">ログイン中</p>
              <% else %>
                  <li><%= link_to "Home", root_path, :style=>"color:white;" %></li>
                  <li><%= link_to "About", homes_about_path, :style=>"color:white;" %></li>
                  <li><%= link_to "新規登録", new_user_registration_path, :style=>"color:white;" %></li>
                  <button type="button" class="btn btn-default navbar-btn"><%= link_to "ログイン", new_user_session_path %></button>
                  <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                  <input type="text" class="form-control" placeholder="検索キーワード">
                  </div>
                  <button type="submit" class="btn btn-default">検索</button>
                  </form>
                  <li><p class="navbar-text" style="color: #fff">未ログイン</p></li>
              <% end %>

          </ul>
         </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
